:root {
  --primary-color: rgba(12, 76, 138);
  --primary2: rgba(151, 213, 224);
  --secondary-color: #2ecc71;
  --font-size: 16px;
  --padding: 10px;
}

body {
  padding: 10px;
  height: 100vh;
}

.bg-theme {
  background-color: #5aa5db;
}
.carousel-img {
  height: 400px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the entire area */
}

.custom-nav {
  font-size: large;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.custom-nav:hover {
  color: white;
  background-color: var(--primary-color);
  border-radius: 25%;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Adjust values as needed */
}

.custom-nav.active {
  font-weight: bold; /* Example style for active link */
  color: #007bff; /* Example color for active link */
}
