body {
  padding: 10px;
  height: 100vh;
}

.bg-theme {
  background-color: #5aa5db;
}
.carousel-img {
  height: 400px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the entire area */
}
