:root {
  --primary-color: rgba(12, 76, 138);
  --primary2: rgba(151, 213, 224);
  --secondary-color: #2ecc71;
  --font-size: 16px;
  --padding: 10px;
}

body {
  padding: 10px;
  height: 100vh;
}

.bg-theme {
  background-color: #5aa5db;
}
.bg-theme-2 {
  background-color: #025d6dab;
}
.carousel-img {
  height: 400px; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the entire area */
}

.custom-nav {
  font-size: large;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.custom-nav:hover {
  color: rgb(72, 255, 0);
  font-size: larger;

  /* background-color: var(--primary-color); */

  /* border-radius: 10%;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); Adjust values as needed */
}

.custom-nav.active {
  font-weight: bold; /* Example style for active link */
  color: #000000; /* Example color for active link */
}

.blur_effect {
  backdrop-filter: blur(6px) saturate(102%);
  -webkit-backdrop-filter: blur(6px) saturate(102%);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  text-align: left;
  padding: 30px;
}

.bg-orange {
  background-color: rgba(236, 173, 55, 0.904);
}
